html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        /*font-family: 'Slabo 27px', serif;*/
      }
      #map {
        height: 100%;
      }
        .controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input,#resturant-input {
          background-color: #fff;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 300px;
          color: #000;
          text-transform: none;
          margin-top: 10px;
        }

        #pac-input:focus {
          border-color: #4d90fe;
        }

       /* .pac-container {
          font-family: Roboto;
        }
*/
        #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
        }

        #type-selector label {
          font-size: 13px;
          font-weight: 300;
        }
         #target {
            width: 345px;
          }
        nav{
          margin: 0;
          padding: 0;
        }
        .nav-option{
          background-color: #A9CAFE;
          position: relative;
        }
        .nav-option ul{
          margin: 0;
          padding:0;
        }
        .nav-option ul li{
          display: inline-block;
          list-style-type: none;
          text-transform: uppercase;
        }
        .nav-option ul li a{
          text-decoration: none;
          color: #fff;
         }
        .nav-option ul li button,
        .nav-option ul li button:focus,
        .nav-option ul li button:active,
        .nav-option ul li button:visited {
          background: transparent;
          box-shadow: none;
          border: none;
          color: #fff;
          font-size: 17px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
         }
      
        .nav-option li{
          padding: 15px;
        }
        .nav-option li:hover{
          background: #A3C5FD;
        }
        #current_time, #city, #user_name, #user_profile{
          float: right;
          color: #fff;
          font-size: 18px;
          padding: 15px 15px 0 0;
        }
        #user_name{
          text-transform: uppercase;
          text-decoration: none;
        }
        #user_profile{
          width: 32px;
          border-radius: 5px;
        }
