html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        /*font-family: 'Slabo 27px', serif;*/
      }
      #map {
        height: 100%;
      }
        .controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        #pac-input,#resturant-input {
          background-color: #fff;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 300px;
          color: #000;
          text-transform: none;
          margin-top: 10px;
        }
        #pac-input:focus {
          border-color: #4d90fe;
        }

       /* .pac-container {
          font-family: Roboto;
        }
*/
        #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
        }

        #type-selector label {
          font-size: 13px;
          font-weight: 300;
        }
         #target {
            width: 345px;
          }
        nav{
          margin: 0;
          padding: 0;
        }
        .nav-option{
          background-color: #A9CAFE;
          position: relative;
        }
        .nav-option ul{
          margin: 0;
          padding:0;
        }
        .nav-option ul li{
          display: inline-block;
          list-style-type: none;
          text-transform: uppercase;
        }
        .nav-option ul li a{
          text-decoration: none;
          color: #fff;
         }
        .nav-option ul li button,
        .nav-option ul li button:focus,
        .nav-option ul li button:active,
        .nav-option ul li button:visited {
          background: transparent;
          box-shadow: none;
          border: none;
          color: #fff;
          font-size: 17px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
         }
      
        .nav-option li{
          padding: 15px;
        }
        .nav-option li:hover{
          background: #A3C5FD;
        }
        #current_time, #city, #user_name, #user_profile{
          float: right;
          color: #fff;
          font-size: 18px;
          padding: 15px 15px 0 0;
        }
        #user_name{
          text-transform: uppercase;
          text-decoration: none;
        }
        #user_profile{
          width: 32px;
          border-radius: 5px;
        }
        .profile_details_popup{
          height: 190px;
          width: 500px;
          border:none;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #fff;
          float: none;
          margin: auto;
          z-index: 2;
          border-radius: 4px;
        }
        .detail_header{
          background: #000;
          padding:10px; 
        }
        .detail-section{
         margin:10px 15px;
         overflow: hidden;
        }
        #name{
          color: #fff;
          text-decoration: none;
          font-size: 22px;
          font-weight: bolder;
          padding: 0;
        }
        #close{
          float: right;
          margin:5px;
          cursor: pointer;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            opacity: 0.6;
        }
        .user_profile_data ul li{
          list-style-type: none;
        }
        .profile-img{
          float: left;
          margin: 0 20px 0 0;
        }
        .profile-img img{
          border-radius: 50%;
        }
        .user_profile_data li{
          margin: 20px 0 0 0;
        }
        aside{
            width: auto;
            max-width: 300px;
            position: absolute;
            left: 0px;
            height: 667px;
            overflow: auto;
            z-index: 2;
            margin: 0;
            padding: 0;
            background: #fff;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
        }
        aside ul{
          margin:0;
          padding: 0
        }
        #Location_name li{
          display: block;
          margin: 5px;
          border-bottom: 1px solid #ccc;
          padding: 5px 0;
        }
        #Location_name li:last-child{
          border-bottom:none;
        }
        .location-name{
          font-weight: bold;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #place_name:hover {
            animation: spin 1s linear 0s infinite normal;
        }
        #place_name{
          width: 30px;
          border-radius: 50%;
        }